.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__company-statement {
  margin: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer__title {
  margin: 15px;
  font-size: 25px;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 600;
}

.footer__description {
  margin: 10px;
  font-size: 20px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 400;
}

.footer__payment {
  margin: 25px;
}

.footer__title {
  font-size: 25px;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 600;
  margin: 15px;
}

.footer_payment-options {
  margin: 10px;
  font-size: 20px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 400;
}

@media screen and (max-width: 627) {
  .footer {
    display: flex;
    flex-direction: column;
  }
  .footer__title {
    font-size: 20px;
  }
  .footer__description {
    font-size: 16px;
  }
  .footer__payment {
    font-size: 20px;
  }
  .footer_payment-options {
    font-size: 16px;
  }
}
