.header {
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid gray;
}

.header__logo {
  width: 600px;
  height: 440px;
  margin: 0 auto;
  border-radius: 8px;
}

.header__title {
  text-align: center;
}

.header__name {
  text-decoration: underline;
  font-size: 40px;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 600;
}

.header__phone {
  color: crimson;
  font-size: 30px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 400;
}

.header__slogan {
  font-size: 20px;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.navbar {
  margin: 20px 0 20px;
  font-size: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav__link {
  text-decoration: none;
  color: crimson;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 600;
}

@media screen and (max-width: 627px) {
  .header__logo {
    width: 280px;
    height: 225px;
  }

  .header__name {
    font-size: 20px;
  }

  .header__phone {
    font-size: 16px;
  }

  .header__slogan {
    font-size: 12px;
  }

  .navbar {
    flex-direction: column;
    align-items: center;
    font-size: 16px;
  }
}
