.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info__title {
  font-size: 50px;
  line-height: 75px;
  margin: 0 auto;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 600;
}

.info__cards {
  justify-content: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 40px 20px;
}

@media screen and (max-width: 627px) {
  .info__cards {
    align-items: center;
    display: flex;
    flex-direction: column;
  }
}
