.review {
  text-align: center;
  margin: 0;
  max-width: 413px;
  border-bottom: 4px solid white;
}

.review__image {
  height: 280px;
  width: 280px;
  object-fit: cover;
  display: block;
  border-radius: 8px;
  margin: 0 auto;
}

.review__name {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 600;
}

.review__content {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
}
