.price {
  height: 60vh;
  display: flex;
  flex-direction: column;
  padding: 10%;
  text-align: left;
  background-color: blue;
  justify-content: center;
}

.price__title {
  text-align: center;
  margin-bottom: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.price__list-item {
  margin-bottom: 20px;
}

.price__list-item-sub {
  margin-top: 10px;
  font-style: italic;
}
