.reviews {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}

.reviews__title {
  text-align: center;
  margin-bottom: 5%;
  color: Blue;
}

.reviews__swiper-container {
  padding-bottom: 10%;
}

.reviews__card {
  width: 280px;
  box-shadow: 0 8px 16px hsla(265, 75%, 4%, 0.1);
  padding: 2rem 1.5rem 3rem;
  border-radius: 1.5rem;
  text-align: center;
}

.reviews__image {
  width: 80%;
  height: 20vh;
  border-radius: 4rem;
  border: 4px solid blue;
  margin: 0 auto 0.5rem;
}

.reviews__rating {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
  margin: 0 auto 0.75rem;
}

.reviews__stars {
  display: flex;
  justify-content: center;
  column-gap: 0.25rem;
}

.reviews__testimonial {
  color: blue;
}
